@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Sen", sans-serif;
  font-weight: 400;
  height: 100%;
}

.flexbox {
  @apply flex items-center justify-between;
}
.navLink {
  @apply dark:text-primaryLight text-tertiaryDark font-normal text-sm;
}

.active {
  @apply bg-tertiaryDark text-white text-sm py-2 px-3 rounded shadow font-bold;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.displayNone {
  @apply hidden;
}

/* Pagination */

.pageNum {
  @apply text-sm text-primaryLight;
}

.activePage {
  @apply text-sm text-primaryLight p-2 bg-primaryDark rounded-full h-8 w-8  flex items-center justify-center shadow-lg text-center;
}
